<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fr3">
  <xacro:macro name="fr3_arm_unscrewer" params="arm_id:='fr3' ">
    <disable_collisions link1="unscrewer" link2="${arm_id}_hand"         reason="Never"/>
    <disable_collisions link1="unscrewer" link2="${arm_id}_leftfinger"   reason="Never"/>
    <disable_collisions link1="unscrewer" link2="${arm_id}_rightfinger"  reason="Never"/>
    <disable_collisions link1="camera"    link2="${arm_id}_hand"         reason="Never"/>
    <disable_collisions link1="camera"    link2="${arm_id}_leftfinger"   reason="Never"/>
    <disable_collisions link1="camera"    link2="${arm_id}_rightfinger"  reason="Never"/>
    <disable_collisions link1="camera"    link2="${arm_id}_link8"  reason="Never"/>
    <disable_collisions link1="camera" link2="${arm_id}_link7" reason="Never"/>
  </xacro:macro>
</robot>